.InputForm {
  background-color: var(--grey-dark3);
  border: solid 1px;
  color: var(--white);
  border: none;
  outline: none;
  border-radius: var(--radius);
  opacity: 1;
  text-align: right;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.input--small {
  width: calc(var(--gutter) * 5);
  height: calc(var(--gutter) * 3);
}
.input--medium {
  width: calc(var(--gutter) * 9);
  height: calc(var(--gutter) * 3);
}
.input--large {
  width: 100%;
  height: calc(var(--gutter) * 3);

}
.InputForm:focus {
  outline: none;
}

.InputForm::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}
