@import './Colors.css';

:root,
:host {
  /**
  * Font Size
  */

  --text-base-size: 1em;
  --text-scale-ratio: 1.1;
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );

  /** Font Weight **/
  --weight-ultraLight: 200;
  --weight-regular: 400;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /* icons */
  --icon-xs: 12px;
  --icon-sm: 18px;
  --icon-md: 24px;
  --icon-lg: 32px;
  --icon-xl: 48px;

  /* Panel */
  --panel-radius: var(--radius);
  --panel-shadow: 1px 1px 1px var(--color-grey-55);
  --panel-border: solid 1px var(--grey-dark4);

  /* Size */
  --sizePoint: 8px;
  --sizePointDouble: calc(var(--sizePoint) * 2);
  --sizePointHalf: calc(var(--sizePoint) / 2);

  /* Gutter */
  --gutter: 8px;
  --gutter-half: calc(var(--gutter) / 2);
  --gutter-double: calc(var(--gutter) * 2);

  /* Radius */
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;

  /* Height */
  --height: 26px;
}
