:root {
  /**
    * @tokens Theme
    * @presenter Color
    */
  --primary-color: var(--color-blue);
  --text-default-color: var(--white);
  --error-color: var(--color-red);
  --valid-color: var(--color-green);
  --info-color: var(--color-orange);
  --icon-default-color: var(--color-grey-10);
  --panel-background-header: var(--color-grey-60);
  --panel-background-body: var(--color-grey-50);
  --panel-background-separator: var(--color-grey-20);
  --panel-background-alternative: var(--color-grey-30);
  --input-background: var(--color-grey-55);
  --background: var(--color-grey-55);

  /**
    * @tokens Color
    * @presenter Color
    */
  --color-focus: var(--primary-color);
  --color-hover: var(--primary-color);
  --color-text: var(--text-default-color);
  --color-error: var(--error-color);
  --color-delete: var(--error-color);
  --color-valid: var(--valid-color);
  --color-icon: var(--icon-default-color);
  --color-panel-header-background: var(--panel-background-header);
  --color-panel-body-background: var(--panel-background-body);

  --color-panel-separator: var(--panel-background-separator);
  --panel-background-onBackground: var(--panel-background-alternative);

  --color-input-background: var(--input-background);
  --color-app-background: var(--background);
  --color-info: var(--info-color);

  /**
  * @tokens Others
  */

  --text-size-xs: 10px;

  /* Panel */
  --panel-radius: var(--radius);
  --panel-shadow: 1px 1px 1px var(--grey-dark4);
  --panel-border: solid 1px var(--grey-dark4);

  /* Size */
  --radius: 5px;
  --sizePoint: 8px;
  --sizePointDouble: calc(var(--sizePoint) * 2);
}
