@import './Colors.css';

:root, :host {

  /**
  * Font Size
  */
  
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
/* icons */
--icon-sm: 18px;
--icon-md: 24px;
--icon-lg: 32px;
--icon-xl: 48px;

  /* Panel */
  --panel-radius: var(--radius);
  --panel-shadow: 1px 1px 1px var(--grey-dark4);
  --panel-border: solid 1px var(--grey-dark4);

  /* Size */
  --sizePoint: 8px;
  --sizePointDouble: calc(var(--sizePoint) * 2);
  --sizePointHalf: calc(var(--sizePoint) / 2);

  
  --gutter: 8px;
  --gutter-double: calc( var(--gutter) *2);
  --radius: 8px;
}
