.p-tooltip {
}
.p-tooltip-arrow {
  border-right-color: var(--primary-color);
}
.p-tooltip-text {
  background-color: var(--primary-color);
  font-size: var(--text-size-xs);
  padding: var( --sizePoint);
}
