/*
 Apache-2.0 license
base material icons https://github.com/google/material-design-icons
*/

@font-face {
  font-family: 'Actpublishing family';
  font-style: normal;
  src:
    url(https://pimcore-x-active.datasolution.site/activePublishing.woff2) format('woff2'),
    url(https://cdn-pim2print-dev.datasolution.site/assets/activePublishing.woff2) format('woff2');
}
.ap-icon {
  font-family: 'Actpublishing family';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.ap-trash:before {
  content: '\e872';
}

.ap-update:before {
  content: '\e923';
}
.ap-edit:before {
  content: '\e3c9';
}

.ap-palet:before {
  content: '\e40a';
}

.ap-zoom-in:before {
  content: '\e8ff';
}
.ap-zoom-out:before {
  content: '\e900';
}
.ap-zoom-in2:before {
  content: '\e5e2';
}
.ap-zoom-out2:before {
  content: '\e5e3';
}

.ap-shuffle:before {
  content: '\e043';
}
.ap-fullscren-close:before {
  content: '\f1cf';
}
.ap-fullscren-open:before {
  content: '\f1ce';
}
.ap-lock:before {
  content: '\e897';
}
.ap-lock-open:before {
  content: '\e898';
}
.ap-align-left:before {
  content: '\e236';
}
.ap-align-center:before {
  content: '\e234';
}
.ap-align-right:before {
  content: '\e237';
}
.ap-align-justify:before {
  content: '\e235';
}
.ap-logout:before {
  content: '\e9ba';
}
.ap-login:before {
  content: '\ea77';
}
.ap-align-vertical-bottom:before {
  content: '\e015';
}
.ap-align-vertical-top:before {
  content: '\e00c';
}
.ap-align-vertical-center:before {
  content: '\e011';
}

.ap-align-horizontal-left:before {
  content: '\e00d';
}
.ap-align-horizontal-right:before {
  content: '\e010';
}
.ap-align-horizontal-center:before {
  content: '\e00f';
}

.ap-chevron-bottom:before {
  content: '\e5cf';
}
.ap-chevron-left:before {
  content: '\e5cb';
}
.ap-chevron-right:before {
  content: '\e5cc';
}
.ap-chevron-top:before {
  content: '\e5ce';
}
.ap-first-page:before {
  content: '\e5dc';
}
.ap-last-page:before {
  content: '\e5dd';
}
.ap-bold:before {
  content: '\e238';
}
.ap-italic:before {
  content: '\e23f';
}
.ap-underlined:before {
  content: '\e249';
}

.ap-close:before {
  content: '\e5cd';
}
.ap-search:before {
  content: '\e8b6';
}
.ap-add:before {
  content: '\e145';
}
.ap-download:before {
  content: '\f090';
}
.ap-image:before {
  content: '\e3f4';
}
.ap-transform:before {
  content: '\e428';
}
.ap-settings:before {
  content: '\e8b8';
}
.ap-settings2:before {
  content: '\e005';
}
.ap-stacks:before {
  content: '\f500';
}
.ap-copy:before {
  content: '\e14d';
}
.ap-magnet:before {
  content: '\e84b';
}
.ap-logo:before {
  content: '\e848';
}

.ap-scale:before {
  content: '\e5e4';
}
.ap-unscale:before {
  content: '\e5e5';
}
.ap-rotate:before {
  content: '\e419';
}
.ap-warp:before {
  content: '\e5e7';
}
.ap-resize:before {
  content: '\e3c2';
}
.ap-view:before {
  content: '\e8f4';
}
.ap-select:before {
  content: '\f82f';
}
.ap-text:before {
  content: '\e262';
}
.ap-pen:before {
  content: '\e006';
}
.ap-duplicate:before {
  content: '\e007';
}
.ap-tag:before {
  content: '\e008';
}
.ap-trash2:before {
  content: '\e009';
}
.ap-page:before {
  content: '\e077';
}
.ap-squares:before {
  content: '\e078';
}
.ap-filters:before {
  content: '\e079';
}
.ap-page2:before {
  content: '\e07A';
}
.ap-cross:before {
  content: '\e07B';
}
.ap-home:before {
  content: '\e07C';
}
.ap-pdf:before {
  content: '\e415';
}
.ap-pdf2:before {
  content: '\ef60';
}
.ap-list:before {
  content: '\e66e';
}
.ap-plus:before {
  content: '\e07d';
}
.ap-sun:before {
  content: '\e07e';
}
.ap-moon:before {
  content: '\e07f';
}
.ap-layer:before {
  content: '\e080';
}
.ap-picture:before {
  content: '\e081';
}
.ap-table:before {
  content: '\e083';
}
.ap-text2:before {
  content: '\e082';
}
.ap-ellipsis:before {
  content: '\e084';
}
.ap-cotcotcot:before {
  content: '\e085';
}
.ap-stop:before {
  content: '\e086';
}
.ap-stop2:before {
  content: '\e087';
}
.ap-calendar_view_month:before {
  content: '\efe7';
}
.ap-format_size:before {
  content: '\e245';
}
.ap-edit:before {
  content: '\e3c9';
}
.ap-photo_size_select_small:before {
  content: '\e434';
}
.ap-style:before {
  content: '\e41d';
}
.ap-note_add:before {
  content: '\e89c';
}
.ap-format_line_spacing:before {
  content: '\e240';
}
.ap-page_info:before {
  content: '\f614';
}
.ap-format_letter_spacing_wide:before {
  content: '\f616';
}
.ap-format_letter_spacing:before {
  content: '\f773';
}
.ap-format_align_left:before {
  content: '\e236';
}
.ap-format_align_center:before {
  content: '\e234';
}
.ap-format_align_right:before {
  content: '\e237';
}
.ap-format_align_justify:before {
  content: '\e235';
}
.ap-format_underlined:before {
  content: '\e249';
}
.ap-format_bold:before {
  content: '\e238';
}
.ap-format_italic:before {
  content: '\e23f';
}
.ap-line_weight:before {
  content: '\e91a';
}
.ap-format_strikethrough:before {
  content: '\e246';
}
.ap-align_horizontal_right:before {
  content: '\e010';
}
.ap-align_horizontal_center:before {
  content: '\e00f';
}
.ap-align_horizontal_left:before {
  content: '\e00d';
}
.ap-align_flex_start:before {
  content: '\f794';
}
.ap-align_flex_center:before {
  content: '\f796';
}
.ap-align_flex_end:before {
  content: '\f795';
}
.ap-cut:before {
  content: '\e14e';
}
.ap-bottom_panel_close:before {
  content: '\f72a';
}
.ap-top_panel_close:before {
  content: '\f733';
}
.ap-left_panel_close:before {
  content: '\f717';
}
.ap-right_panel_close:before {
  content: '\f705';
}
.ap-drag_indicator:before {
  content: '\e945';
}
.ap-remove:before {
  content: '\e15b';
}
.ap-folder_open:before {
  content: '\e2c8';
}
.ap-visibility_off:before {
  content: '\e8f5';
}
.ap-shadow:before {
  content: '\e9df';
}
