/*
 Apache-2.0 license
base material icons https://github.com/google/material-design-icons
*/

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(https://cdn-pim2print-dev.datasolution.site/assets/activePublishing.woff2) format('woff2');
}
.ap-icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.ap-trash:before {
  content: '\e872';
}

.ap-update:before {
  content: '\e923';
}
.ap-edit:before {
  content: '\e3c9';
}

.ap-palet:before {
  content: '\e40a';
}

.ap-zoom-in:before {
  content: '\e8ff';
}
.ap-zoom-out:before {
  content: '\e900';
}
.ap-zoom-in2:before {
  content: '\e5e2';
}
.ap-zoom-out2:before {
  content: '\e5e3';
}

.ap-shuffle:before {
  content: '\e043';
}
.ap-fullscren-close:before {
  content: '\f1cf';
}
.ap-fullscren-open:before {
  content: '\f1ce';
}
.ap-lock:before {
  content: '\e897';
}
.ap-lock-open:before {
  content: '\e898';
}
.ap-align-left:before {
  content: '\e236';
}
.ap-align-center:before {
  content: '\e234';
}
.ap-align-right:before {
  content: '\e237';
}
.ap-align-justify:before {
  content: '\e235';
}
.ap-logout:before {
  content: '\e9ba';
}
.ap-login:before {
  content: '\ea77';
}
.ap-align-vertical-bottom:before {
  content: '\e015';
}
.ap-align-vertical-top:before {
  content: '\e00c';
}
.ap-align-vertical-center:before {
  content: '\e011';
}

.ap-align-horizontal-left:before {
  content: '\e00d';
}
.ap-align-horizontal-right:before {
  content: '\e00f';
}
.ap-align-horizontal-center:before {
  content: '\e010';
}

.ap-chevron-bottom:before {
  content: '\e5cf';
}
.ap-chevron-left:before {
  content: '\e5cb';
}
.ap-chevron-right:before {
  content: '\e5cc';
}
.ap-chevron-top:before {
  content: '\e5ce';
}
.ap-first-page:before {
  content: '\e5dc';
}
.ap-last-page:before {
  content: '\e5dd';
}
.ap-bold:before {
  content: '\e238';
}
.ap-italic:before {
  content: '\e23f';
}
.ap-underlined:before {
  content: '\e249';
}

.ap-close:before {
  content: '\e5cd';
}
.ap-search:before {
  content: '\e8b6';
}
.ap-add:before {
  content: '\e145';
}
.ap-download:before {
  content: '\f090';
}
.ap-image:before {
  content: '\e3f4';
}
.ap-transform:before {
  content: '\e428';
}
.ap-settings:before {
  content: '\e8b8';
}
.ap-settings2:before {
  content: '\e005';
}
.ap-stacks:before {
  content: '\f500';
}
.ap-copy:before {
  content: '\e14d';
}
.ap-magnet:before {
  content: '\e84b';
}
.ap-logo:before {
  content: '\e848';
}

.ap-scale:before {
  content: '\e5e4';
}
.ap-unscale:before {
  content: '\e5e5';
}
.ap-rotate:before{
  content: '\e419';
}
.ap-warp:before{
  content: '\e5e7';
}
.ap-resize:before{
  content: '\e3c2';
}
.ap-view:before{
  content: '\e8f4';
}
.ap-select:before{
  content: '\f82f';
}
.ap-text:before{
  content: '\e262';
}
.ap-pen:before{
  content: '\e006';
}
.ap-duplicate:before{
  content: '\e007';
}
.ap-tag:before{
  content: '\e008';
}
.ap-trash2:before{
  content: '\e009';
}
.ap-page:before{
  content: '\e077';
}