@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import 'primevue/resources/themes/lara-light-green/theme.css';

@import '../components/Inputs/Input.css';
@import './Primitive.css';
@import './Icons.css';
@import './Tokens/Tokens.css';
@import '../directives/directives.css';
@import '../components/Panels/Tabview/ApTabView.css';

:root, :host {
  /**
  * @tokens-end
  */
  --gutter: 8px;
  --radius: 5px;

  --font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}
.p-component {
  font-weight: normal;
}
