@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import '../components/Inputs/Input.css';
@import './Tokens/main.css';

:root {
  --primary: #5cbdec;
  --primary-tr: #5cbdec40;
  --secondary: #e72179;
  --tertiary: #ffde00;
  --white: #ffffff;
  --black: #000000;
  --white-tr: #ffffff26;
  --white-tr2: #FFFFFF3;
  --grey-light5: #e4e4e4;
  --grey-light4: #d6d6d6;
  --grey-light7: #a6a6a6;
  --grey-light: #a4a4a4;
  --grey-light-tr: #00000029;
  --grey-light8: #939393;
  --grey-light6: #8e8e8e;
  --grey-light9: #888888;
  --grey-light3: #707070;
  --grey-light10: #616161;
  --grey-dark6: #606060;
  --grey-dark5: #595959;
  --grey-light-tr2: #0000005c;
  --grey-dark2: #535353;
  --grey-dark3: #474747;
  --grey-dark4: #373737;
  --grey-dark: #333;
  --grey-dark7: #2c2c2c;
  --grey-dark8: #2a2a2a;
  --grey-dark-tr3: #37373780;
  --state-draft: #f55d5d;
  --state-draft-tr: #f55d5d26;
  --state-draft-tr2: #f55d5d33;
  --state-editing: #faaf59;
  --state-editing-tr: #faaf5926;
  --state-editing-tr2: #faaf5933;
  --state-validate: #97dc62;
  --state-validate-tr: #97dc6226;
  --state-validate-tr2: #97dc6233;
  --select: #00adf1;
  --select-tr: #5cbdecbf;
  --gutter: 8px;
  --radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: lighter;
}

html {
  font-family: 'Poppins', sans-serif;
}
