:root {
/**
  * @tokens Pimcore
  * @presenter Color
  */

  --buttons-over: #F2F2F2;
  --buttons-active: #ffffff;

  --buttons-disabled: #b5b6ba;
  --buttons-disabled-inner: #8e8e8e;
  --buttons-focused: #484B4E;
  --buttons-save: #393C3F;
  --bg-list-item-over: #F2F2F2;
  --color-list-item: #404040;
  --buttons-filter-before: #919191;
  --buttons-datepicker-over: #f0f0f0;
  --buttons-block: #f6f6f6;
  --buttons-block-border: #e4e4e4;
  --buttons-block-over: #ececec;
  /* From Style.scss */
  --accordion-icon: #2A2D30;
  --alert-secondary: #e2e3e5;
  --asset: #ececec;
  --asset-over: #efefef;
  --codemirror-numbers: #eee;
  --disabled: #bababa;
  --grid-disabled: #d0d0d0;
  --toolbar-container: #f6f6f6;
  --plugins-selected: #64646426;
  --superbox-item: #f2f1f1;
  --superbox-item-focus: #8d8e94;
  --superbox-item-hover: #f2f1f1;
  --hotspot-body: #ffffff66;
  --input: #777;
  --object-preview: #dad9d9;
  --pimcore-update: #f8f8f8;
  --preview: #f2f2f2;
  --plugin-info: #E5E5E5;
  --tab-bar-icon: #F2F2F2;
  --tab-bar-border: #F2F2F2;
  --text-alert-secondary: #383d41;
  --wysiwyg-quote: #666666;
  --version-published: #cecece;
  --tool-close: #919191;
  --tree-disabled: #8e8e8e;
  --tree-preview: #0C0F12;
  --text-codemirror-numbers: #aaa;
  --text-descr: #545454;
  --border-language: #C1C1C1;
  --text-grid-not-editable: gray;
  --text-secondary: #919191;
  --text-pimcore-update: #333333;
  --text-property-inherited: #ccc;
  --text-plugins: #333;
  --text-plugins-span: #999;
  --border-asset-over: #dddddd;
  --border-alert-secondary: #d6d8db;
  --text-treenode-nav-exclude: #8e8e8e;
  --text-treenode-unpublished: #777;
  --border: #d0d0d0;
    --main-color: #FFFFFF;
    --border-secondary: #ccc;
    --border-superbox-item-focus: #8d8e94;
    --border-table: #f0f0f0;
    --border-tertiary: #3d3d3d;
    --border-wysiwyg: #333333;
    --border-plugin-info: #E5E5E5;
    --border-plugins-buttons: #00000026;
    --border-plugins-selected: #00000026;
    /* From _iconsbundle.scss */
    --text-grid-value: #606060;
    --dark:#737373;
    --primary-dark:#D9D8D8;
    --secondary-dark:#E7E7E7;
    --tertiary-dark:#EDEDED;
    --light-color:#F8F8F8;
    --text-object-setting-warning: #999;

    --grid-value: #dad9d9;

    --icons-active:#F2F2F2;
    --accordion-color:#DFDFDF;

    --bg-color: white;
    --text-color: black;

    /* panel */
    --bg-panel: #F6F6F6;

    /* Navigation */
    --color-text-menu: #404040;
    --bg-menu-hover: #F4F6F8;

    --bg-subMenu: #ffffff;
    --color-text-subMenu: #404040;



    /* Buttons */

    --buttons-tab-active: #ffffff;
    --buttons-tab-disabled: #484B4E;
    --buttons-tab-disabled-inner: #8e8e8e;
    --buttons-tab-focused: #ffffff;
    --buttons-tab-save: #393C3F;

    --buttons-tab-separ-color: #737373;

    --buttons-color: #ffffff; 
    --buttons-border: #d0d0d0;
    --buttons-text-color: #000000;

    --buttons-save-pressed: #298e4b;
    --buttons-save-border: #53b373;

    --buttons-black: black;
    --buttons-black-border: black;
    --buttons-black-pressed: #d91616;


    --buttons-font-icons: FontAwesome;

    /* false select item (bundlist) */


    --alert-danger: #f8d7da;
    --alert-info: #d1ecf1;
    --alert-primary: #cce5ff;
    --alert-sucess: #d4edda;
    --alert-warning: #fff3cd;

    --asset-selected: #eff5fb;

    --error: #FF0000;
    --error-secondary: #fff3f3;
    --error-action: #BF302B;

    --grid-item: #ffe2e2;
    --grid-item-alt: #f6d9d9;
    --grid-item-alt-over: #e9cccc;
    --grid-item-alt-select: #d6b9b9;
    --grid-item-alt-select-over: #c5a9a9;
    --grid-item-over: #f2d5d5;
    --grid-item-select: #dfc2c2;
    --grid-item-select-over: #d2b5b5;

    --input-hover: #FD9C31;

    --plugins: #fff;
    --plugins-hover: #FD9C31;



    --toolbar: var(--icons-active);

    --tool-expanding: #ff9933;
    --valid: var(--secondary-color);
    --wysiwig: var(--main-color);
    --wysiwyg-mask: #ff6600;

    --text-about: var(--text-color);
    --text-alert-danger: #721c24;
    --text-alert-info: #0c5460;
    --text-alert-primary: #004085;
    --text-alert-warning: #856404;

    --text-error: var(--main-color);
    --text-error-bold: #830000;
    --text-grid: #900;

    --text-treenode-locked: #3b5c8a;
    --text-treenode-lockowner: #1d60c4;

    --text-title: #1a0dab;


    --border-alert-danger: #f5c6cb;
    --border-alert-info: #bee5eb;
    --border-alert-primary: #b8daff;
    --border-alert-sucess: #c3e6cb;
    --border-alert-warning: #ffeeba;
    --border-asset-selected: #99bbe8;
    --border-pimcore-update: #000;
    --border-password-invalid: #e9322d;


    --text-grid-value-noedit: #000000;

    --grid-value-noedit: #dad9FF;
    --primary-color:#6428b4;
    --hotspot: #00ff0080;
    --border-password-valid: #9ecb2d;
    --text-alert-success: #155724;
    --valid-interact: #298e4b;

    --tool-expand: #008d4c;
    --text-url: #006621;
    --secondary-color:#4DAA51;
    --buttons-tab-save-pressed: #298e4b;
    --buttons-tab-save-border: #53b373;

}
